
.search{
    margin: 50px auto;
    width: 60%;
    text-align: center;
    height:40px;
}
.url{
    margin: 20px auto;
    clear: both;
    width: 60%;
}

.url_info{
    clear: both;
    text-align: left;
    word-wrap:break-word;
}

.url_img{
    clear: both;
    width: 238px;
    height: 300px;
}

.search_box{
    width: 80%;
    height:45px;
    float: left;
}

.search_searchText{
    float: left;
    width: 100%;
    height: 40px;
}

.search_searchConfirm{
    width: 76px;
    height: 45px;
    display: inline-block;
    float: left;
    border: 1px solid #fe4800;
    color: #ffffff;
    background-color: #fe4800
}

input{
    border-color: #fe4800;
    border-radius: 4px;
    background-color: #fff;
    font: 400 13.3333px Arial;
}