<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜券</title>
    <link href="../../taobao/css/search.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../taobao/js/search.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.js"></script>
</head>
<body>
<div class="search">
    <div class="search_box">
        <input type="text" id="searchText" class="search_searchText" placeholder="请输入您要搜索的商品、类目或链接"/>
    </div>
    <input type="button" value="搜索" id="searchConfirm" class="search_searchConfirm" onclick="search()"/>
</div>
<div class="url">
    <img class="url_img" src="" alt="" id="url_img">
    <p id="url_info" class="url_info"></p>
</div>

</body>
</html>